/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.logo-left,
.logo-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 110px;
  /* Adjust size as needed */
  height: auto;
}

.logo-left {
  left: 10px;
  /* Position from the left */
}

.logo-right {
  right: 10px;
  /* Position from the right */
}

.my-container {
  margin-top: 20px;
}

form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input[type="password"],
input[type="text"],
select {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #eff0a6;
}

select {
  background-color: #eff0a6;
  color: black;
}

input[type="submit"],
input[type="button"] {
  width: 100%;
  background-color: #eff129;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"] {
  width: 15%;
  border-radius: 20px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #45a049;
}

/*.options {
  text-align: center;
}

.options ul {
  list-style-type: none;
  padding: 0;
}

.options ul li {
  margin-bottom: 10px;
}

.options ul li a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  width: 30%;
}

.options ul li:nth-child(1) a {
  background-color: #007bff;
  color: #fff;
}

.options ul li:nth-child(1) a:hover {
  background-color: #105d97;
}

.options ul li:nth-child(2) a {
  background-color: #28a745;
  color: #fff;
}

.options ul li:nth-child(2) a:hover {
  background-color: #1c7e33;
}

.options ul li:nth-child(3) a {
  background-color: #ff0707;
  color: #333;
  font-weight: bold;
}

.options ul li:nth-child(3) a:hover {
  background-color: #c00c0c;
}

.options ul li:nth-child(4) a {
  background-color: #ffb007;
  color: #333;
  font-weight: bold;
}

.options ul li:nth-child(4) a:hover {
  background-color: #c0810c;
}*/

.options {
  text-align: center;
}

.options ul {
  list-style-type: none;
  padding: 0;
}

.options ul li {
  margin-bottom: 10px;
}

/* General button styling */
.options ul li a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  width: 30%;
  position: relative;
  overflow: hidden;
}

/* Button 1: Snake Border Effect */
.options ul li:nth-child(1) a {
  background-color: #383cc1; 
  color: #fff;
}
.options ul li:nth-child(1) a span {
  position: absolute;
}
.options ul li:nth-child(1) a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #6bd5ff);
  animation: borderAnimation1 2s linear infinite;
}
.options ul li:nth-child(1) a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #6bd5ff);
  animation: borderAnimation2 2s linear infinite;
  animation-delay: 1s;
}
.options ul li:nth-child(1) a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #6bd5ff);
  animation: borderAnimation3 2s linear infinite;
}
.options ul li:nth-child(1) a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #6bd5ff);
  animation: borderAnimation4 2s linear infinite;
  animation-delay: 1s;
}

/* Button 2: Snake Border Effect */
.options ul li:nth-child(2) a {
  background-color: #27ac2e; 
  color: #fff;
}
.options ul li:nth-child(2) a span {
  position: absolute;
}
.options ul li:nth-child(2) a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #7cff6b);
  animation: borderAnimation1 2s linear infinite;
}
.options ul li:nth-child(2) a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #7cff6b);
  animation: borderAnimation2 2s linear infinite;
  animation-delay: 1s;
}
.options ul li:nth-child(2) a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #7cff6b);
  animation: borderAnimation3 2s linear infinite;
}
.options ul li:nth-child(2) a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #7cff6b);
  animation: borderAnimation4 2s linear infinite;
  animation-delay: 1s;
}

/* Button 4: Snake Border Effect */
.options ul li:nth-child(4) a {
  background-color: #ff8b07; 
  color: #333;
  font-weight: bold;
}
.options ul li:nth-child(4) a span {
  position: absolute;
}
.options ul li:nth-child(4) a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #ffcb5a);
  animation: borderAnimation1 2s linear infinite;
}
.options ul li:nth-child(4) a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #ffcb5a);
  animation: borderAnimation2 2s linear infinite;
  animation-delay: 1s;
}
.options ul li:nth-child(4) a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #ffcb5a);
  animation: borderAnimation3 2s linear infinite;
}
.options ul li:nth-child(4) a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #ffcb5a);
  animation: borderAnimation4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes borderAnimation1 {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
@keyframes borderAnimation2 {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}
@keyframes borderAnimation3 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
@keyframes borderAnimation4 {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}


/* Button 3: Neon Effect */
.options ul li:nth-child(3) a {
  background-color: #ff0707;
  color: #333;
  font-weight: bold;
  filter: hue-rotate(0deg);
}
.options ul li:nth-child(3) a:hover {
  background: #ff0000;
  color: #050801;
  box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000, 0 0 200px #ff0000;
}
.options ul li:nth-child(3) a span {
  position: absolute;
  background: linear-gradient(to right, #0c002b, #ff0000);
}
.options ul li:nth-child(3) a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  animation: borderAnimation1 1s linear infinite;
}
.options ul li:nth-child(3) a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  animation: borderAnimation2 1s linear infinite;
  animation-delay: 0.25s;
}
.options ul li:nth-child(3) a span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  animation: borderAnimation3 1s linear infinite;
}
.options ul li:nth-child(3) a span:nth-child(4) {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  animation: borderAnimation4 1s linear infinite;
  animation-delay: 0.25s;
}

.logout {
  position: absolute;
  top: 180px;
  right: 10px;
}

.logout button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #c82333;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: lightblue;
  margin-top: 20px;
  clear: both;
  font-weight: bold;
}

.footer-text {
  font-size: 0.9rem;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .myDiv {
    padding: 15px;
    border-radius: 8px;
  }

  .logo-left,
  .logo-right {
    width: 70px;
    top: 55%;
  }

  form {
    padding: 15px;
    max-width: 90%;
  }

  input[type="password"],
  input[type="text"],
  select {
    width: calc(100% - 20px);
    padding: 10px;
  }

  input[type="button"] {
    width: 20%;
  }

  .options ul li a {
    width: 50%;
    font-size: 16px;
  }

  .logout {
    top: calc(25% + 15px);
  }

  .footer {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .myDiv {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
  }

  .logo-left,
  .logo-right {
    width: 64px;
    top: 48%;
  }

  h2,
  h3 {
    font-size: 1.5rem;
    /* Slightly smaller font size for headings */
  }

  form {
    padding: 10px;
    max-width: 100%;
  }

  input[type="password"],
  input[type="text"],
  select {
    width: calc(100% - 16px);
    padding: 8px;
  }

  input[type="button"] {
    width: 25%;
  }

  .options ul li a {
    width: 70%;
    font-size: 14px;
  }

  .logout {
    top: 295px;
  }

  .footer {
    padding: 5px;
  }

  .delete-form-font-sizes {
    font-size: 1.3rem;
  }
}
